.ssrn-select {
    position: relative;
    user-select: none;
}

.ssrn-select-trigger {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ssrn-select-trigger:hover {
    border-color: #4a90e2;
}

.ssrn-select-trigger svg {
    transition: transform 0.2s ease-in-out;
}

.ssrn-select.opened .ssrn-select-trigger svg {
    transform: rotate(180deg);
}

.ssrn-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
}

.ssrn-select.opened .ssrn-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.ssrn-option {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ssrn-option:hover {
    background-color: #f2f2f2;
}

.ssrn-option.selected {
    background-color: #e9f2ff;
}

.ssrn-option.unavailable {
    display: none;
}

.ssrn-option.out-of-stock .ssrn-option-remind-me {
    display: block !important;
}

.ssrn-option-remind-me {
    display: none;
}
