:root {
    /* Dialog */
    --ssrn-dialog-backdrop-color: rgba(0, 0, 0, 0.75);
    --ssrn-dialog-success-color: #22b99a;
    --ssrn-dialog-error-color: #ff4136;

    /* Select */
    --ssrn-select-remind-me-color: #22b99a;
}

/**
 * Style the <dialog>
 */
.ssrn-dialog {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    max-width: 400px;
}

.ssrn-dialog::backdrop {
    background-color: var(--ssrn-dialog-backdrop-color);
}

.ssrn-dialog button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.ssrn-dialog.success form {
    display: none;
}

.ssrn-dialog.success .ssrn-success-message {
    display: block !important;
}

.ssrn-dialog.error .ssrn-error-message {
    display: block !important;
}

.ssrn-success-message {
    color: var(--ssrn-dialog-success-color);
    display: none;
}

.ssrn-error-message {
    color: var(--ssrn-dialog-error-color);
    display: none;
}

dialog.ssrn-dialog h4 {
    font-size: 20px;
    margin: 0 0 10px;
}

/**
 * Style our custom select
 */
.ssrn-select {
    position: relative;
    user-select: none;
}

.ssrn-select-trigger {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.ssrn-select-trigger svg {
    transition: transform 0.2s ease-in-out;
}

.ssrn-select.opened .ssrn-select-trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.ssrn-select.opened .ssrn-select-trigger svg {
    transform: rotate(180deg);
}

.ssrn-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    border: 1px solid #ccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
}

.ssrn-options > * ~ *::after {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
    height: 1px;
    width: calc(100% - 40px);
    background-color: #cccccc;
}

.ssrn-select.opened .ssrn-options {
    display: block;
    border-top: 0;
}

.ssrn-option {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ssrn-option:hover {
    background-color: #f2f2f2;
}

.ssrn-option.selected {
    background-color: #e9f2ff;
}

.ssrn-option.unavailable {
    display: none;
}

.ssrn-option.out-of-stock .ssrn-option-remind-me {
    display: block !important;
}

.ssrn-option.out-of-stock .ssrn-option-label {
    opacity: 0.6;
}

.ssrn-option-remind-me {
    font-weight: bold;
    display: none;
    color: var(--ssrn-select-remind-me-color);
}
